

 <p style="font-weight: 500;"><%if notification.read == true %> <%= link_to notification.notice_type, link_through_path(notification)%> <% else%><p style="font-weight: 900; color: black;"><%=link_to notification.notice_type,link_through_path(notification) %></p><%end%></p>
 <p style="font-size: 11px; font-weight: 500;"><i class="fa fa-clock-o fa-nav"></i> <%= notification.created_at.strftime('%b %d, %Y')%></p>
<div class="line">
</div>