

 <p style=""><%= notification.notice_type %></p>
 <p style="font-size: 11px; font-weight: 500;"><i class="fa fa-clock-o fa-nav"></i> <%= notification.created_at.strftime('%b %d, %Y')%></p>
<div class="line">
</div>