<li class="dropdown">

                <a href="#" class="icon-info" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                                            <span class="label label-warning"><%= current_user.notifications.where(read: nil).count %></span>
                                        </a>
                  <ul class="dropdown-menu" style="min-width: 300px;">
                  <div class="not-head">
<h5>Notifications</h5>
</div>

   <%= render @notifications.order('created_at DESC').limit(3)%>
 
   	</i><%= link_to 'View All Notifications', notifications_path %> 
 
                 </ul>

               
</li>
        