<nav class="top-navbar">
  <div class="container">
   <ul class="largenav pull-left">
  <p class="greet-user">Lostitems Agents Panel </p>
  </ul>
   <ul class="nav navbar-nav navbar-right">

         <%= render 'notifications/notification_dropdown' %>
       
   <li>
  <%= link_to edit_user_registration_path do %>
         <i class="fa fa-cogs fa-nav"></i> <span class="nav-text">
                          
                        </span>
        <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
             <i class="fa fa-power-off" fa-nav></i>
                        <span class="nav-text">
                           
                        </span>
        <% end %>
        </li>
  </ul>
  </div>
</nav>