@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: 12px;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: 12px;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    font-size: 12px;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    font-size: 12px;
 }
body{
	width: 100%;
	background: rgba(0,0,0,0.1);
}
/************************************/
/*     LOGIN FORM FEATURES          */
/************************************/
.login-page{
	height: 100%;
	margin-top: 50px;
	background: white;
	width:30%;
	margin-left: 35%;
	border-radius: 5px;
	box-shadow: -10px 10px 5px #888888;
	border: 2px solid rgba(0,0,0,0.2);
}
.login-header{
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	background: -webkit-linear-gradient(left,black, green, red); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, black, green, red); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right,black, green, red); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right,black, green, red); /* Standard syntax */
}
.login-header h3{
color:white;
	text-transform: uppercase;
	font-weight: 100;
}
.login-body{
	margin-top: 20px;
	padding: 10px;
}

.login-body .field{
	margin-top: 10px;
}
.login-body .login-field{
    margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	border: 2px solid rgba(0,0,0,0.3);
}
.login-footer{
	padding: 10px;
	margin-bottom: 20px;
}
.login-button{
    margin-left:25%;
	color: white;
	padding: 10px;
	width: 50%;
	background: #E3690F;
	border: 1px solid #E3690F;
}
.login-links{
	border-top: 1px solid rgba(0,0,0,0.3);
	padding: 10px;
	color: rgba(0,0,0,0.6);
	font-size: 13px;
	
}
.login-links p{
	padding: 0px;
}
/*****************************/
/*REGISTARTION FORM          */
/*****************************/
.registration-form .container{
	background: white;
	margin-top: 0px;
padding-bottom: 20px;
}
.pic-upload-form{
	width:100%;
	color: black;
}
.field-pic{
text-transform: uppercase;
text-align:center;
	margin:5px;
	padding:20px;;
	background: rgba(0,0,0,0.05);
	border: 1px dotted rgba(0,0,0,0.2);
	border-radius: 5px;
}
.btn-file {
border: 2px solid white;
border-radius: 20px;
	padding: 10px;
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.registration-form .login-field{
    margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.2);
}
.reg-header{

	margin-left: -15px;
	margin-right: -15px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	background: -webkit-linear-gradient(left,black, green, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black, green, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,black, green, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,black, green, red); /* Standard syntax */
}
.reg-header h2{
	font-weight: 900;	
}
.registration-form .btn-success{
	border-radius: 20px;
	text-transform: uppercase;
}
.registration-form .boolean-field{
	padding: 10px;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
}
.registration-form .field{
	color: rgba(0,0,0,0.5);
	font-size: 12px;
}
.btn-register{
	border-radius: 20px;
	border: 2px;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	font-weight: bold;
	background: -webkit-linear-gradient(left,black, green, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black, green, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,black, green, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,black, green, red); /* Standard syntax */
}
.btn-register:hover,
btn-register:focus{
color: white;
font-weight: bold;
	background: -webkit-linear-gradient(left,red, green, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, green, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,red, green, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,red, green, black); /* Standard syntax */
}
/****************************/
/* PASSWORD RESET FORM ******/
/****************************/
.password-reset .container{
margin-top: 30px;
	background: white;
	padding-bottom: 20px;
	

}
.password-header{
	margin-left: -15px;
	margin-right: -15px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	background: -webkit-linear-gradient(left,black, green, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black, green, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,black, green, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,black, green, red); /* Standard syntax */
}
.password-body{
	margin-top: 10px;
	padding: 10px;
	font-size: 13px;
	color: rgba(0,0,0,0.6);
}
.password-body .form-field{
    margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.3);
}
/*************************/
/***SELCECT PLANS PAGE****/
/*************************/
.plan-select-form .container{
	background: white;
	padding-bottom: 20px;
}
.plan-column{
	width:30%;
	float: left;
	padding: 20px;
	margin: 10px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
}
.plans-form-header h2{	
	text-align: center;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7);
	padding: 10px;
}
.field1{
	padding: 10px;
}