@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: 12px;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: 12px;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    font-size: 12px;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    font-size: 12px;
 }
body{
	width: 100%;
	background: rgba(0,0,0,0.1);
}
/***********************************/
/** NAVBAR**************************/
/***********************************/
.top-navbar{
	padding-top: 10px;
	border-bottom: 1px solid(0,0,0,0.1);
	background:rgba(0,0,0,0.005)
}
.top-navbar .fa{
	font-size: 16px;
	color: rgba(0,0,0,0.3);
}

 .dropdown{
border-radius: 5px;
  background-color: rgba(0, 0, 0, 0); 
    -webkit-border-radius: 0px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
 .dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu{
padding: 5px;
  text-align: left;
  font-size: 12px;
  display: none;
  position: absolute; 
  background-color: white; 
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}
.dropdown-menu h5{
	font-weight: 900;
 text-align: center;
  color: rgba(0,0,0,0.5);
  padding-left: 10px;
  padding-right:10px;
  border-bottom: 1px solid rgba(0,0,0,0.2)
}
.dropdown-menu p{
	font-weight: 100;
  font-size: 12px;
  color: rgba(0,0,0,0.7);
  padding-left: 10px;
  padding-right:10px;
}
.dropdown-menu a{
  	text-align:center;
  	color: rgba(0,0,0,0.6);
}
.line{
	border-top: 1px solid rgba(0,0,0,0.2);
	padding: 2px;
}
.not-text a{
  color: rgba(0,0,0,0.7);
  font-size: 11px;
}
/************************************/
/*     LOGIN FORM FEATURES          */
/************************************/

.login-page{
	height: 100%;
	margin-top: 50px;
	background: white;
	width:30%;
	margin-left: 35%;
	border-radius: 5px;
	box-shadow: -10px 10px 5px #888888;
	border: 2px solid rgba(0,0,0,0.2);
}
.login-header{
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	background: -webkit-linear-gradient(left,black, green, red); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, black, green, red); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right,black, green, red); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right,black, green, red); /* Standard syntax */
}
.login-header h3{
color:white;
	text-transform: uppercase;
	font-weight: 100;
}
.login-body{
	margin-top: 20px;
	padding: 10px;
}

.login-body .field{
	margin-top: 10px;
}
.login-body .login-field{
    margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	border: 2px solid rgba(0,0,0,0.3);
}
.login-footer{
	padding: 10px;
	margin-bottom: 20px;
}
.login-button{
    margin-left:25%;
	color: white;
	padding: 10px;
	width: 50%;
	background: #E3690F;
	border: 1px solid #E3690F;
}
.login-links{
	border-top: 1px solid rgba(0,0,0,0.3);
	padding: 10px;
	color: rgba(0,0,0,0.6);
	font-size: 13px;
	
}
.login-links p{
	padding: 0px;
}

@media screen and (max-width: 600px) {
   .login-page{
	height: 100%;
	margin-top: 50px;
	background: white;
	width:90%;
	margin-left: 5%;
	border-radius: 5px;
	box-shadow: -10px 10px 5px #888888;
	border: 2px solid rgba(0,0,0,0.2);
}
}
/*****************************/
/*REGISTARTION FORM          */
/*****************************/
.registration-form .container{
	background: white;
	margin-top: 0px;
padding-bottom: 20px;
}
.pic-upload-form{
	width:100%;
	color: black;
}
.field-pic{
text-transform: uppercase;
text-align:center;
	margin:5px;
	padding:20px;;
	background: rgba(0,0,0,0.05);
	border: 1px dotted rgba(0,0,0,0.2);
	border-radius: 5px;
}
.btn-file {
border: 2px solid white;
border-radius: 20px;
	padding: 10px;
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.registration-form .login-field{
    margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.2);
}
.reg-header{

	margin-left: -15px;
	margin-right: -15px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	background: -webkit-linear-gradient(left,black, green, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black, green, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,black, green, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,black, green, red); /* Standard syntax */
}
.reg-header h2{
	font-weight: 900;	
}
.registration-form .btn-success{
	border-radius: 20px;
	text-transform: uppercase;
}
.registration-form .boolean-field{
	padding: 10px;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
}
.registration-form .field{
	color: rgba(0,0,0,0.5);
	font-size: 12px;
}
.btn-register{
	border-radius: 20px;
	border: 2px;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	font-weight: bold;
	background: -webkit-linear-gradient(left,black, green, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black, green, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,black, green, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,black, green, red); /* Standard syntax */
}
.btn-register:hover,
btn-register:focus{
color: white;
font-weight: bold;
	background: -webkit-linear-gradient(left,red, green, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, green, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,red, green, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,red, green, black); /* Standard syntax */
}
/****************************/
/* PASSWORD RESET FORM ******/
/****************************/
.password-reset .container{
margin-top: 30px;
	background: white;
	padding-bottom: 20px;
	

}
.password-header{
	margin-left: -15px;
	margin-right: -15px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	background: -webkit-linear-gradient(left,black, green, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black, green, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,black, green, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,black, green, red); /* Standard syntax */
}
.password-body{
	margin-top: 10px;
	padding: 10px;
	font-size: 13px;
	color: rgba(0,0,0,0.6);
}
.password-body .form-field{
    margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.3);
}
/*************************/
/***SELCECT PLANS PAGE****/
/*************************/
.plan-select-form .container{
	background: white;
	padding-bottom: 20px;
}
.plan-column{
	width:30%;
	float: left;
	padding: 20px;
	margin: 10px;
	border: 1px solid rgba(32, 131, 14,0.3);
	border-radius: 5px;
}
.plans-form-header h2{	
	text-align: center;
	text-transform: uppercase;
	color: rgba(0,0,0,0.7);
	padding: 10px;
}
.plan-column h3{
	text-align: center;
	text-transform: uppercase;
}
.plan-column .plan-price{
font-weight: 900;
text-align: center;
	color: green;
	font-size: 20px;
	padding: 15px;
}
.plan-column .duration{
font-weight: 900;
text-align: center;	
	font-size: 15px;
	padding: 10px;
}
.plan-column .fa-times{
	color: red;
	border: 2px solid red;
	border-radius: 2px;
	margin-left: 15px;
	padding: 5px;
}
.plan-column .fa-check{
	color: green;
	border: 2px solid green;
	border-radius: 2px;
	margin-left: 15px;
	padding: 5px;
}

.field1{
	padding: 10px;
	color: rgba(0,0,0,0.6);
	font-size: 12px;
}
.plan-choose{
	text-align:center;
}
.plan-choose .btn-success{
	text-align:center;
	border-radius: 20px;
}
@media screen and (max-width: 700px) {
.plan-column{
	width:90%;
	float: left;
	padding: 20px;
	margin: 10px;
	border: 1px solid rgba(32, 131, 14,0.3);
	border-radius: 5px;
}
}
/******************************************/
/******ADMIN DASHBOARD WELCOME*************/
/******************************************/

/*******SIDEDAR****************************/

.fa-2x {
font-size: 2em;
}

.main-menu .fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}
.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#fbfbfb;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
/**************************************/
/******DASHBOARD***********************/
/**************************************/
.dashboard-body{

	margin-left: 5px;	
}
.dashboard-body .container{
padding: 10px;
margin-top: 0px;
	background: white;
}
.dashboard-header{
	padding: 10px;
	text-align:center;
	text-transform: uppercase;
	color: rgba(0,0,0,0.6);
}
.form-field{
	padding: 8px;
	border: 1px border rgba(0,0,0,0.1);
	width: 100%;
	margin: 5px;
}
.dashboard-body .field{
	color: rgba(0,0,0,0.6);
	font-size: 13px;
}
.dashboard-body .actions{
	text-align: center;
}
.dashboard-body .btn-success{
text-align:center;
	border-radius: 20px;
}
/* 	DASHBOARD ACTIVITY AREA        */

.account-status-bar {
border-top: 1px solid rgba(0,0,0,0.2);
	margin: 0px;
	background: white;
	margin-bottom: 10px;
}
.account-status-bar h5{
	font-weight: 100;
	color: rgba(0,0,0,0.5);
	text-transform: capitalize;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family:Calibri Light;
	text-align: center;
}
.active-dot{
	padding: 10px;
	border-radius: 20px;
	background: green;
}
/*	DASHBOARD WELCOME REPORTS PAGE */

.top-dashboard-row {
border-top: 1px solid rgba(0,0,0,0.2);
	margin: 0px;
	background: white;
	margin-bottom: 10px;
}
.top-dashboard-row .greet-user{
	font-weight: 100;
	color: rgba(0,0,0,0.5);
	text-transform: capitalize;
	font-size: 25px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family:Calibri Light;
	text-align: center;
}
.greet-user{
	font-weight: 100;
	
	color: rgba(0,0,0,0.5);
	text-transform: capitalize;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family:Calibri Light;
	text-align: center;
}
.top-dashboard-row .notifications{
	color: rgba(0,0,0,0.5);
	font-size: 13px;

}
.middle-dashboard-row {
	margin-left:5%;

}
.middle-dashboard-row .mini-col{
	background: white;
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
	color: rgba(0,0,0,0.6);
}
.middle-dashboard-row .mini-col{

	background: white;
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
}
.middle-dashboard-row .mini-col h4{
font-family:Calibri Light;
	text-align: right;
	font-weight: 100;
	font-size: 20px;
}
.middle-dashboard-row .mini-col p{
	font-size: 12px;
}
.middle-dashboard-row .mini-col a{
	font-size: 12px;
}
.middle-dashboard-row .mini-col span{
	font-size: 11px;
}
.top-dashboard-row .notifications a{
	color: rgba(0,0,0,0.6);
	weight: 900;
}
/*************tables*************/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
td{
	font-size: 11px;
}
tr:nth-child(even){background-color:#f3efef; font-size: 11px;}

th {
	margin-top: 0px;
    color: white;
    padding:6px;
    background: #034229;
    font-weight: 100;
    font-size: 13px;
}

/**********************************/
/*		USER PROFILE  			  */
/**********************************/
.top-dashboard-row .profile-p{
	color: rgba(0,0,0,0.6);
	font-size: 12px;
}
.top-dashboard-row .profile-p strong{
	font-weight: 900;
	color: rgba(0,0,0,0.8);
	font-size: 13px;
}
.top-dashboard-row .profile-h4{
	font-weight: 900;

}
.btn-upgrade{
	border-radius: 20px;
	text-align: center;
}
/***************************/
/*		SETTINGS		   */
/***************************/
.edit-form .edit-field{
    margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.2);
}
.edit-head h2{
	text-align:left;
	font-weight: 900;
}
.edit-body{
	color: rgba(0,0,0,0.6);
	font-size: 12px;
}
.edit-body h3{
	text-align:left;
	font-weight: 900;
}
.edit-form .btn {
	border-radius: 20px;
}