<!DOCTYPE html>
<html>
  <head>
    <title>Lostitems | Admin Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_NY_QCFrxoDKhpShoofAr7htp4TKxtwg&callback=initMap"
                                       async defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
